<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/car_listing">Car Listing</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li><a href="/convertible_detail">Convertible Detail</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/family_detail">Family Detail</a></li>
            <li><a href="/i-reservation">I Reservation</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a href="/reservation">Reservation</a></li>
            <li><a href="/sign_up_admin">Sign Up Admin</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/SUV_detail">SUV Detail</a></li>
            <li><a href="/user_account">User Account</a></li>
            <li><a href="/v-reservation">V Reservation</a></li>
            <li><a href="/voiture_de_luxe">Voiture de Luxe</a></li>
            <li><a href="/voiture_economy_detail">Voiture Economy Detail</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
